<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>About_page</title>
<link rel="icon" href="img/weather.png">
<link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
    {{>header}}
    <p>This site was created by Nikolas Zoump.<br/> uses data from mapbox.com</p>
    <img class="portait" src="/img/photo_nik.jpg">
    </div>

    {{>footer}}

</body>
</html>
